<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="http://127.0.0.1:4000/users" , method="post">
      <label for="name">Name</label>
      <input type="text" name="name" />
      <label for="username">Username</label>
      <input type="text" name="username" />
      <label for="email">Email</label>
      <input type="text" name="email" />
      <label for="password">Password</label>
      <input type="text" name="password" />
      <label for="phone">Phone</label>
      <input type="text" name="phone" />
      <button type="submit" id="signup-btn">Submit</button>
    </form>
  </body>
</html>
