<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <script defer src="script.js"></script>
  </head>
  <body>
    <form id="signinForm">
      <label for="username">Phone</label>
      <input type="text" name="phone" />
      <label for="password">Password</label>
      <input type="text" name="password" />
      <button id="signin-btn">Submit</button>
    </form>
  </body>
</html>
